<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="tabbed">
        <input type="radio" name="tabs" id="tab-nav-1" checked>
        <label for="tab-nav-1">Cartelera</label>
        <input type="radio" name="tabs" id="tab-nav-3">
        <label for="tab-nav-3">Pre-Venta</label>
        <div class="tabs">
            <div>
                <h2>¡Escoge tu cine favorito!</h2>
                <div class="menu">
                    <nav>
                        <ul>
                            <li><a href="pds.html">Cine</a>
                                <ul>
                                    <li><a href="quinde.html">Cinerama El Quinde</a></li>
                                    <li><a href="pds.html">Cinerama Plaza del Sol</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="galeria">
                    <div class="conte">
                        <th:block th:each="pelicula : ${listaPeliculas}">
                            <div class="imagen">
                                <img src="" alt="imagen">
                                <div class="overlay">
                                    <div class="contenedor">
                                        <button class="boton1">
                                            <a href="#"><i class="fa-solid fa-ticket"></i>Comprar</a>
                                        </button>
                                        <button class="boton2">
                                            <a href="detalle2.html"><i class="fa-regular fa-plus"></i>Detalles</a>
                                        </button>
                                    </div>
                                </div>
                                <p class="tituloPelicula" th:text="${pelicula.nombre}"></p>
                                <p class="genero" th:text="${pelicula.generoPelicula.nombre}"></p>
                                <p class="duracion" th:text="${pelicula.duracion}"></p>
                                <p class="clasificacion" th:text="${pelicula.clasificacion.nombre}"></p>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>