<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pelicula.nombre}">Document</title>
</head>

<body>
    

    <iframe id="video" th:src="${pelicula.link}" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>

    <main>
        <div class="pelicula-principal">
            <div class="contenedor">
                <h3 th:text="${pelicula.nombre}" class="titulo"></h3>
                <div>
                    <p class="genero" th:text="${pelicula.generoPelicula.nombre}"></p>
                    <p class="duracion" th:text="${pelicula.duracion}"></p>
                    <p class="clasificacion" th:text="${pelicula.clasificacion.nombre}"></p>
                </div>
                <th:block th:unless="${pelicula.id == null}" th:each="detalle,status : ${pelicula.detalles}">
                    <input type="hidden" name="detalleID" th:value="${detalle.id}">
                    <div class="detalles">
                        <p class="sinopsis" th:text="${detalle.sinopsis}"></p>
                        <p class="director" th:text="${detalle.director}"></p>
                        <p class="reparto" th:text="${detalle.reparto}"></p>
                    </div>
                </th:block>
            </div>
        </div>
    </main>

</body>

</html>